<app-header [activeNav]="'contact'"></app-header>

	<!-- Team Section -->
	<div class="team-section spad">
      <div class="overlay"></div>
      <div class="container">
        <div class="section-title">
          <br>
          <br>
          <h2>Get in <span>the Lab</span> and see our services</h2>
        </div>
        <div class="row">
          <!-- single member -->
          <div class="col-sm-3">
            <div class="member">
              <img src="../../assets/img/team/1.jpg" alt="">
              <h2>Services 1</h2>
              <p>Maecenas ac euismod eros porta. Aliquam a suscipit nibh. Aliquam iaculis erat porta mauris.</p>
            </div>
          </div>
          <!-- single member -->
          <div class="col-sm-3">
            <div class="member">
              <img src="../../assets/img/team/2.jpg" alt="">
              <h2>Services 1</h2>
              <p>Maecenas ac euismod eros porta. Aliquam a suscipit nibh. Aliquam iaculis erat porta mauris.</p>
            </div>
          </div>
          <!-- single member -->
          <div class="col-sm-3">
            <div class="member">
              <img src="../../assets/img/team/3.jpg" alt="">
              <h2>Services 1</h2>
              <p>Maecenas ac euismod eros porta. Aliquam a suscipit nibh. Aliquam iaculis erat porta mauris.</p>
            </div>
          </div>
            <!-- single member -->
            <div class="col-sm-3">
                <div class="member">
                  <img src="../../assets/img/team/2.jpg" alt="">
                  <h2>Services 1</h2>
                  <p>Maecenas ac euismod eros porta. Aliquam a suscipit nibh. Aliquam iaculis erat porta mauris.</p>
                </div>
              </div>
        </div>
      </div>
    </div>
    <!-- Team Section end-->
<app-footer></app-footer>
