<div class="gallery mb-5">
    <h2>Gallery</h2>
</div>

<!-- services card section-->
<div class="services-card-section spad">
  <div class="container">
    <div class="row">
      <!-- Single Card -->
      <div class="col-md-3 col-sm-6">
        <div class="sv-card">
          <div class="card-img">
            <img src="../../../../assets/img/card-1.jpg" alt="">
          </div>

        </div>
      </div>
      <!-- Single Card -->
      <div class="col-md-3 col-sm-6">
        <div class="sv-card">
          <div class="card-img">
            <img src="../../../../assets/img/card-2.jpg" alt="">
          </div>

        </div>
      </div>
      <!-- Single Card -->
      <div class="col-md-3 col-sm-6">
        <div class="sv-card">
          <div class="card-img">
            <img src="../../../../assets/img/card-3.jpg" alt="">
          </div>
        </div>
      </div>
       <!-- Single Card -->
       <div class="col-md-3 col-sm-6">
        <div class="sv-card">
          <div class="card-img">
            <img src="../../../../assets/img/card-1.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- services card section 2-->
<div class="services-card-section spad">
    <div class="container">
      <div class="row">
        <!-- Single Card -->
        <div class="col-md-3 col-sm-6">
          <div class="sv-card">
            <div class="card-img">
              <img src="../../../../assets/img/card-1.jpg" alt="">
            </div>

          </div>
        </div>
        <!-- Single Card -->
        <div class="col-md-3 col-sm-6">
          <div class="sv-card">
            <div class="card-img">
              <img src="../../../../assets/img/card-3.jpg" alt="">
            </div>

          </div>
        </div>
        <!-- Single Card -->
        <div class="col-md-3 col-sm-6">
          <div class="sv-card">
            <div class="card-img">
              <img src="../../../../assets/img/card-2.jpg" alt="">
            </div>
          </div>
        </div>
         <!-- Single Card -->
         <div class="col-md-3 col-sm-6">
          <div class="sv-card">
            <div class="card-img">
              <img src="../../../../assets/img/card-1.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- services card section end-->
