<app-header [activeNav]="'product'"></app-header>

<!-- How we Work -->
<div class="team-section spad">
    <div class="overlay"></div>
    <div class="container">
      <div class="section-title">
        <br><br>
        <h2>Get in <span>the Lab</span> and see our products</h2>
      </div>
  <div class="row">
    <div class="col-lg-3 col-sm-6 grid1">
      <img src="../../assets/img/products/product1.png" alt="" class="img-fluid mb-3">
      <h3>Product 1</h3>
      <p>Maecenas ac euismod eros porta. Aliquam a suscipit nibh. Aliquam iaculis erat porta mauris.</p>
      <button class="btn-primary">Add to Cart</button>
    </div>
    <div class="col-lg-3 col-sm-6 grid1">
      <img src="../../assets/img/products/product2.png" alt="" class="img-fluid mb-3">
      <h3>Product 1</h3>
      <p>Maecenas ac euismod eros porta. Aliquam a suscipit nibh. Aliquam iaculis erat porta mauris.</p>
      <button class="btn-primary">Add to Cart</button>
    </div>
    <div class="col-lg-3 col-sm-6 mt-lg-0 mt-sm-5 grid1">
      <img src="../../assets/img/products/product3.png" alt="" class="img-fluid mb-3">
      <h3>Product 1</h3>
      <p>Maecenas ac euismod eros porta. Aliquam a suscipit nibh. Aliquam iaculis erat porta mauris.</p>
      <button class="btn-primary">Add to Cart</button>
    </div>
    <div class="col-lg-3 col-sm-6 mt-lg-0 mt-sm-5 grid1">
      <img src="../../assets/img/products/product5.png" alt="" class="img-fluid mb-3">
      <h3>Product 1</h3>
      <p>Maecenas ac euismod eros porta. Aliquam a suscipit nibh. Aliquam iaculis erat porta mauris.</p>
      <button class="btn-primary">Add to Cart</button>
    </div>
    <div class="col-lg-3 col-sm-6 mt-lg-0 mt-sm-5 grid1">
        <img src="../../assets/img/products/product5.png" alt="" class="img-fluid mb-3">
        <h3>Product 1</h3>
        <p>Maecenas ac euismod eros porta. Aliquam a suscipit nibh. Aliquam iaculis erat porta mauris.</p>
        <button class="btn-primary">Add to Cart</button>
      </div>
      <div class="col-lg-3 col-sm-6 mt-lg-0 mt-sm-5 grid1">
          <img src="../../assets/img/products/product3.png" alt="" class="img-fluid mb-3">
          <h3>Product 1</h3>
          <p>Maecenas ac euismod eros porta. Aliquam a suscipit nibh. Aliquam iaculis erat porta mauris.</p>
          <button class="btn-primary">Add to Cart</button>
        </div>
      <div class="col-lg-3 col-sm-6 mt-lg-0 mt-sm-5 grid1">
          <img src="../../assets/img/products/product1.png" alt="" class="img-fluid mb-3">
          <h3>Product 1</h3>
          <p>Maecenas ac euismod eros porta. Aliquam a suscipit nibh. Aliquam iaculis erat porta mauris.</p>
          <button class="btn-primary">Add to Cart</button>
          </div>
          <div class="col-lg-3 col-sm-6 mt-lg-0 mt-sm-5 grid2">
              <img src="../../assets/img/products/product2.png" alt="" class="img-fluid mb-3">
              <h3>Product 1</h3>
              <p>Maecenas ac euismod eros porta. Aliquam a suscipit nibh. Aliquam iaculis erat porta mauris.</p>
              <button class="btn-primary">Add to Cart</button>
          </div>
        </div>
  </div>
</div>



<app-footer></app-footer>
