<app-header></app-header>
  <!-- Intro Section -->
	<!-- <div class="hero-section">
		<div class="hero-content">
			<div class="hero-center">
				<img src="../../assets/img/big-logo.png" alt="">
				<p>Get your freebie template now!</p>
			</div>
    </div> -->

    <app-slider></app-slider>

		<!-- slider -->
  <!-- <div id="hero-slider" class="owl-carousel">
    <div class="item  hero-item" data-bg="../../assets/img/01.jpg"></div>
    <div class="item  hero-item" data-bg="../../assets/img/02.jpg"></div>
  </div>
	</div> -->
  <!-- Intro Section -->


  <!-- About section -->
	<div class="about-section">
		<div class="overlay"></div>

		<!-- About contant -->
		<div class="about-contant">
			<div class="container">
				<div class="section-title">
					<h2>What We Do</h2>
				</div>
				<div class="row">
					<div class="col-md-6">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla. Nulla sit amet luctus dolor. Etiam finibus consequat ante ac congue. Quisque porttitor porttitor tempus. Donec maximus ipsum non ornare vporttitor porttitorestibulum. Sed libero nibh, feugiat at enim id, bibendum sollicitudin arcu.</p>
					</div>
					<div class="col-md-6">
						<p>Cras ex mauris, ornare eget pretium sit amet, dignissim et turpis. Nunc nec maximus dui, vel suscipit dolor. Donec elementum velit a orci facilisis rutrum. Nam convallis vel erat id dictum. Sed ut risus in orci convallis viverra a eget nisi. Aenean pellentesque elit vitae eros dignissim ultrices. Quisque porttitor porttitorlaoreet vel risus et luctus.</p>
					</div>
				</div>

			</div>
		</div>
  </div>

  <!-- About section end -->


  <app-gallery-items></app-gallery-items>
  <!-- <app-contact></app-contact> -->
<app-footer></app-footer>
